@import '../mixin/config.scss';
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
.hljs {
    display: block;
    padding: 0.5em;
    //background: #f8f8f8 !important;
    white-space: pre;
    overflow-x: auto;
}
code {
    font-size: 12px;
    line-height: 1.4em;
}
.source_code{
    padding-top: 30px;
    font-size: 14px;
    font-weight: 300;
    display:none;
}
.rules_button_area{
    text-align: right;
    padding:20px 0;
    button{
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        box-shadow: 0 1px 3px 0 hsla(0,0%,86.3%,.3);
        box-sizing: border-box;
        color: #333;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        text-align: center;
        text-decoration: none;
        transition: border-color .2s cubic-bezier(.075,.82,.165,1);
        vertical-align: middle;
        padding:5px;
    }
}
.border_line {
    border-bottom: 1px solid #eee;
    padding: 10px;
}
body,
html {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif; //overflow-x:hidden;   
}

a {
    text-decoration: none;
    color: $font-color;
}

.full__width {
    width: 100%;
}
.ui__pack__title {
    font-size: 30px;
    margin: 30px 0;
}

.ui__pack__sub__title {
    text-align: left;
    margin: 10px 0;
}


.container {
    width: $max-width;
    margin: 0 auto;

    @include tablet {
        width: 100%;
        overflow-x: hidden;
    }
    @include mobile {
        width: 100%;
        overflow-x: hidden;
    }
}


.underline {
    height: 2px;
    background-color: $bg-color;
    display: inline-block;
    width: 0;
    display: block;
    position: absolute;
    bottom: 0;
}

.slider__visual__area {
    position: relative;
    overflow: hidden;
    .slider_visual_wrap {
        overflow: hidden;
        width: 100%;
        height: 200px;
        position: relative;
        clear: both;
        .slider {
            width: 400%;
            height: 100%;
            li {
                text-align: center;
                width: 25%;
                height: 200px;
                float: left;
            }
            .con1 {
                background-color: $box-bg;
            }
            .con2 {
                background-color: $box-bg;
            }
            .con3 {
                background-color: $box-bg;
            }
            .con4 {
                background-color: $box-bg;
            }
            .con5 {
                background-color: $box-bg;
            }
        }
    }
    .prve_btn {
        cursor: pointer;
        position: absolute;
        left: 5%;
        top: 40%;
    }
    .next_btn {
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 40%;
    }
}

.none {
    display: none;
}

button {
    padding: 10px;
    background-color: #eee;
    border: none;
    text-align: center;
    cursor: pointer;
    &.active {
        background-color: #000;
        color: #fff;
    }
}

.tab__btn__area,
.pannel__area,
.fade__tab__pannel__area {
    text-align: left;
}

.pannel_con {
    padding: 10px 0;
    font-size: 14px;
    width: 95%;
    line-height: 22px;
}

// 

input:-ms-input-placeholder { color: #ccc; }
// Internet Explorer 10 이상에 적용

input::-webkit-input-placeholder { color: #ccc; } 
//  Webkit, Blink, Edge에 적용

input::-moz-placeholder { color: #ccc; }
// Mozilla Firefox 4 부터 18에 적용

input::-moz-placeholder { color: #ccc; }
// Mozilla Firefox 19 이상에 적용