@import '../mixin/config.scss';
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body,html {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
   //overflow-x:hidden;   
}
a {
    text-decoration: none;
    color: $font-color;
}
.full__width {
    width: 100%;
}
.container {
    width: $max-width;
    margin:0 auto;
    @include tablet {
        width: 100%;
        overflow-x: hidden;
    }
    @include mobile {
        width: 100%;
        overflow-x: hidden;
    }
}
.spacing_top{
    margin-top: 10px;
}

.underline {
    height: 2px;
    background-color: $bg-color;
    display: inline-block;
    width: 0;
    display: block;
    position: absolute;
    bottom:0;
}