.hamburger {
    padding: 10px;
    background-color:gainsboro;
}

.hamburger .line {
    width: 50px;
    height: 5px;
    background-color: #000;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger_1.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger_9 {
    position: relative;
}

.hamburger_9:before {
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border: 5px solid transparent;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    border-radius: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hamburger_9.is-active:before {
    border: 5px solid #ecf0f1;
}

/*
    css 사용할 경우 ie10 부터 기준을 할 경우.
    
.hamburger_1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

.hamburger_1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}

.hamburger_2.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
}

.hamburger_2.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px);
    -ms-transform: translateY(-13px);
    -o-transform: translateY(-13px);
    transform: translateY(-13px);
}

.hamburger_3.is-active .line:nth-child(1),
.hamburger_3.is-active .line:nth-child(3) {
    width: 40px;
}

.hamburger_3.is-active .line:nth-child(1) {
    -webkit-transform: translateX(-10px) rotate(-45deg);
    -ms-transform: translateX(-10px) rotate(-45deg);
    -o-transform: translateX(-10px) rotate(-45deg);
    transform: translateX(-10px) rotate(-45deg);
}

.hamburger_3.is-active .line:nth-child(3) {
    -webkit-transform: translateX(-10px) rotate(45deg);
    -ms-transform: translateX(-10px) rotate(45deg);
    -o-transform: translateX(-10px) rotate(45deg);
    transform: translateX(-10px) rotate(45deg);
}

.hamburger_4.is-active .line:nth-child(1),
.hamburger_4.is-active .line:nth-child(3) {
    width: 40px;
}

.hamburger_4.is-active .line:nth-child(1) {
    -webkit-transform: translateX(10px) rotate(45deg);
    -ms-transform: translateX(10px) rotate(45deg);
    -o-transform: translateX(10px) rotate(45deg);
    transform: translateX(10px) rotate(45deg);
}

.hamburger_4.is-active .line:nth-child(3) {
    -webkit-transform: translateX(10px) rotate(-45deg);
    -ms-transform: translateX(10px) rotate(-45deg);
    -o-transform: translateX(10px) rotate(-45deg);
    transform: translateX(10px) rotate(-45deg);
}


.hamburger_5.is-active {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.hamburger_5.is-active .line:nth-child(2) {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.hamburger_5 .line:nth-child(2) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.hamburger_5.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger_5.is-active .line:nth-child(1),
.hamburger_5.is-active .line:nth-child(3) {
    width: 35px;
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
}

.hamburger_5.is-active .line:nth-child(1) {
    -webkit-transform: translateY(15px) rotate(45deg);
    -ms-transform: translateY(15px) rotate(45deg);
    -o-transform: translateY(15px) rotate(45deg);
    transform: translateY(15px) rotate(45deg);
}

.hamburger_5.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-15px) rotate(-45deg);
    -ms-transform: translateY(-15px) rotate(-45deg);
    -o-transform: translateY(-15px) rotate(-45deg);
    transform: translateY(-15px) rotate(-45deg);
}


.hamburger_6.is-active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger_6.is-active .line:nth-child(2) {
    width: 0px;
}

.hamburger_6.is-active .line:nth-child(1),
.hamburger_6.is-active .line:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.hamburger_6.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
}

.hamburger_6.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
}

.hamburger_7.is-active .line:nth-child(1) {
    width: 30px;
}

.hamburger_7.is-active .line:nth-child(2) {
    width: 40px;
}

.hamburger_7.is-active .line {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.hamburger_8.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger_8.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
}

.hamburger_8.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
}

.hamburger_9 {
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger_9.is-active {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger_9:before {
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border: 5px solid transparent;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    border-radius: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.hamburger_9.is-active .line {
    width: 35px;
}

.hamburger_9.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger_9.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
}

.hamburger_9.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
}

*/