<h3 class="ui__pack__title">- 체크박스</h3>
<div class="grid col-3">
    <ul class="grid__row">
        <li class="grid__inner">
            <div class="grid__inner__item">
                <h4 class="ui__pack__sub__title">- Simple</h4>
                <div class="input__wrap">
                    <input type="checkbox" id="simple1" name="simple1" />
                    <label for="simple1"></label>
                    <input type="checkbox" id="simple2" name="simple2" />
                    <label for="simple2" class="red"></label>
                    <input type="checkbox" id="simple3" name="simple3" />
                    <label for="simple3" class="green"></label>
                </div>
            </div>
        </li>
        <li class="grid__inner">
            <div class="grid__inner__item">
                <h4 class="ui__pack__sub__title">- Material design</h4>
                <div class="input__wrap">
                    <input type="checkbox" id="md1" name="md1" />
                    <label for="md1"></label>
                    <input type="checkbox" id="md2" name="md2" />
                    <label for="md2" class="red"></label>
                    <input type="checkbox" id="md3" name="md3" />
                    <label for="md3" class="green"></label>
                </div>
            </div>
        </li>
        <li class="grid__inner">
            <div class="grid__inner__item">
                <h4 class="ui__pack__sub__title">- Material design small</h4>
                <div class="input__wrap">
                    <input type="checkbox" id="md_sm1" name="md_sm1" />
                    <label for="md_sm1"></label>
                    <input type="checkbox" id="md_sm2" name="md_sm2" />
                    <label for="md_sm2" class="red"></label>
                    <input type="checkbox" id="md_sm3" name="md_sm3" />
                    <label for="md_sm3" class="green"></label>
                </div>
            </div>
        </li>
        <li class="grid__inner">
            <div class="grid__inner__item">
                <h4 class="ui__pack__sub__title">- Border</h4>
                <div class="input__wrap">
                    <input type="checkbox" id="border1" name="border1" />
                    <label for="border1"></label>
                    <input type="checkbox" id="border2" name="border2" />
                    <label for="border2" class="red"></label>
                    <input type="checkbox" id="border3" name="border3" />
                    <label for="border3" class="green"></label>
                </div>
            </div>
        </li>
        <li class="grid__inner">
            <div class="grid__inner__item">
                <h4 class="ui__pack__sub__title">- Inset</h4>
                <div class="input__wrap">
                    <input type="checkbox" id="inset1" name="inset1" />
                    <label for="inset1"></label>
                    <input type="checkbox" id="inset2" name="inset2" />
                    <label for="inset2" class="red"></label>
                    <input type="checkbox" id="inset3" name="inset3" />
                    <label for="inset3" class="green"></label>
                </div>
            </div>
        </li>
        <li class="grid__inner">
            <div class="grid__inner__item">
                <h4 class="ui__pack__sub__title">- Box</h4>
                <div class="input__wrap">
                    <input type="checkbox" id="box_ch1" name="box_ch1" />
                    <label for="box_ch1"></label>
                    <input type="checkbox" id="box_ch2" name="box_ch2" />
                    <label for="box_ch2" class="red"></label>
                    <input type="checkbox" id="box_ch3" name="box_ch3" />
                    <label for="box_ch3" class="green"></label>
                </div>
            </div>
        </li>
        <li class="grid__inner">
            <div class="grid__inner__item">
                <h4 class="ui__pack__sub__title">- Full Flex</h4>
                <div class="input__wrap">
                    <input type="checkbox" id="full_flex1" name="full_flex1" />
                    <label for="full_flex1"></label>
                    <input type="checkbox" id="full_flex2" name="full_flex2" />
                    <label for="full_flex2" class="red"></label>
                    <input type="checkbox" id="full_flex3" name="full_flex3" />
                    <label for="full_flex3" class="green"></label>
                </div>
            </div>
        </li>
        <li class="grid__inner">
            <div class="grid__inner__item">
                <h4 class="ui__pack__sub__title">- Teleport</h4>
                <div class="input__wrap">
                    <input type="checkbox" id="teleport1" name="teleport1" />
                    <label for="teleport1"></label>
                    <input type="checkbox" id="teleport2" name="teleport2" />
                    <label for="teleport2" class="red"></label>
                    <input type="checkbox" id="teleport3" name="teleport3" />
                    <label for="teleport3" class="green"></label>
                </div>
            </div>
        </li>
        <li class="grid__inner">
            <div class="grid__inner__item">
                <h4 class="ui__pack__sub__title">- Underline</h4>
                <div class="input__wrap">
                    <input type="checkbox" id="under_line1" name="under_line1" />
                    <label for="under_line1"></label>
                    <input type="checkbox" id="under_line2" name="under_line2" />
                    <label for="under_line2" class="red"></label>
                    <input type="checkbox" id="under_line3" name="under_line3" />
                    <label for="under_line3" class="green"></label>
                </div>
            </div>
        </li>
    </ul>
</div>