<div class="">
    <h3 class="ui__pack__title border_line">- grid</h3>
    <div class="rules_button_area" data-ui="rules_area">
        <button data-ui="rules_btn" data-toggle="false">RULES</button>
        <div class="source_code">
           
            <div class="">
                <div class="grid col-6 tab_button_area" data-ui="tab_button_area">
                    <ul class="grid_row">
                        <li class="grid_inner">
                            <div class="grid_inner_item"><button data-id="0" class="active rules_tab_btn">HTML</button></div>
                        </li>
                        <li class="grid_inner">
                            <div class="grid_inner_item"><button data-id="1" class="rules_tab_btn">CSS</button></div>
                        </li>
                        <li class="grid_inner">
                            <div class="grid_inner_item"><button data-id="2" class="rules_tab_btn">JS</button></div>
                        </li>
                    </ul>
                </div>
                <ul class="pannel_area" data-ui="pannel_area">
                    <li class="tab_pannel active" data-id="0">
                        html
                    </li>
                    <li class="tab_pannel" data-id="1">
                        css
                    </li>
                    <li class="tab_pannel" data-id="2">
                        js
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid col-8">
        <ul class="grid_row">
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">item</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="grid col-4">
        <ul class="grid_row">
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">item</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="grid col-4 nospacing">
        <ul class="grid_row">
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">nospacing-item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">nospacing-item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">nospacing-item</p>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <p class="grid_content">nospacing-item</p>
                </div>
            </li>
        </ul>
    </div>

</div>