<div class="border_bottom_line">
        <h3 class="ui__pack__title">- grid</h3>
        <div class="grid col-8">
            <ul class="grid_row">
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">1</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">2</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">3</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">4</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">5</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">6</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">7</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">8</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="grid col-4 spacing_top">
            <ul class="grid__row">
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">2-1</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">2-2</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">2-3</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">2-4</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="grid col-5 nospacing spacing_top">
            <ul class="grid_row">
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">nospacing1</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">nospacing2</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">nospacing3</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">nospacing4</p>
                    </div>
                </li>
                <li class="grid_inner">
                    <div class="grid_inner_item">
                        <p class="grid_content">nospacing5</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>