<div class="">
    <h3 class="ui__pack__title border_line">- Hamburger menu</h3>
    <div class="rules_button_area" data-ui="rules_area">
        <button data-btn="rules_btn" data-toggle="false">RULES</button>
        <div class="source_code">
            <h5>- RULES</h5>
        
        </div>
    </div>
    <div class="grid col-6">
        <ul class="grid_row" data-ui="hamburger_wrap">
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <div class="hamburger hamburger_1" id="hamburger_1">
                        <span class="line line1"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <div class="hamburger hamburger_2" id="hamburger_2">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <div class="hamburger hamburger_3" id="hamburger_3">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <div class="hamburger hamburger_4" id="hamburger_4">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <div class="hamburger hamburger_5" id="hamburger_5">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <div class="hamburger hamburger_6" id="hamburger_6">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <div class="hamburger hamburger_7" id="hamburger_7">
                        <span class="line line1"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <div class="hamburger hamburger_8" id="hamburger_8">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <div class="hamburger hamburger_9" id="hamburger_9">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <div class="hamburger hamburger_10" id="hamburger_10">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <div class="hamburger hamburger_11" id="hamburger_11">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <div class="hamburger hamburger_12" id="hamburger_12">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>