<h3 class="ui__pack__title">- modal</h3>
<div class="rules_button_area" data-ui="rules_area">
    <button data-btn="rules_btn" data-toggle="false">RULES</button>
    <div class="source_code">
        <h5>- RULES</h5>
    
    </div>
</div>
<div class="grid col-3">
    <div class="grid_row" data-ui="page_wrap">
        <div class="grid_inner">
            <div class="grid_inner_item">
                <div class="page__wrap">
                    <button class="trigger">CLICK</button>
                </div>
                <div class="modal__wrap" data-ui="modal_wrap">
                    <div class="modal__container">
                        <div class="modal__head">
                            <a class="btn_close trigger">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="modal__content">
                            <div class="good_job">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                <h1>Good Job!</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>