<h3 class="ui__pack__title">- 자체 제작 slide</h3>
<div class="grid nospacing col-1">
    <div class="grid__row" data-ui="slider__area">
        <div class="grid__inner">
            <div class="grid__inner__item">
                <section class="slider__visual__area slide0" data-ui="slider__area">
                    <div class="slider_visual_wrap" data-ui="slider">
                        <div data-ui="out__frame">
                            <ul class="slider" data-ui="inner__frames">
                                <li class="scene con1">
                                    intervalslide0
                                </li>
                                <li class="scene con2">
                                    intervalslide1
                                </li>
                                <li class="scene con3">
                                    intervalslide2
                                </li>
                                <li class="scene con4">
                                    intervalslide3
                                </li>
                            </ul>
                        </div>
                        <div class="slider_visual_arrow_area" data-ui="slide__control">
                            <p class="prve_btn btn" data-ui="slide_btn">
                                <img src="./img/prev.png" alt="prev_btn" class="btn prve_btn" />
                            </p>
                            <p class="next_btn btn interval__next" data-ui="slide_btn">
                                <img src="./img/next.png" alt="prev_next" class="btn next_btn" />
                            </p>
                        </div>
                    </div>

                </section>
            </div>
        </div>

    </div>
</div>
<div class="grid col-2 slide_section">
    <div class="grid__row">
        <div class="grid__inner">
            <div class="grid__inner__item">
                <section class="slider__visual__area" data-ui="slider__area">
                    <div class="slider_visual_wrap" data-ui="slider">
                        <div data-ui="out__frame">
                            <ul class="slider" data-ui="inner__frames">
                                <li class="scene con2">
                                    slide1-1
                                </li>
                                <li class="scene con1">
                                    slide1-2
                                </li>
                                <li class="scene con3">
                                    slide1-3
                                </li>
                                <li class="scene con4">
                                    slide1-4
                                </li>
                            </ul>
                        </div>
                        <div class="slider_visual_arrow_area" data-ui="slide__control">
                            <p class="prve_btn btn" data-ui="slide_btn">
                                <img src="./img/prev.png" alt="prev_btn" class="btn prve_btn" />
                            </p>
                            <p class="next_btn btn" data-ui="slide_btn">
                                <img src="./img/next.png" alt="prev_next" class="btn next_btn" />
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="grid__inner">
            <div class="grid__inner__item">
                <section class="slider__visual__area" data-ui="slider__area">
                    <div class="slider_visual_wrap" data-ui="slider">
                        <div data-ui="out__frame">
                            <ul class="slider" data-ui="inner__frames">
                                <li class="scene con4">
                                    slide2-1
                                </li>
                                <li class="scene con3">
                                    slide2-2
                                </li>
                                <li class="scene con2">
                                    slide2-3
                                </li>
                                <li class="scene con1">
                                    slide2-4
                                </li>
                            </ul>
                        </div>
                        <div class="slider_visual_arrow_area" data-ui="slide__control">
                            <p class="prve_btn btn" data-ui="slide_btn">
                                <img src="./img/prev.png" alt="prev_btn" class="btn prve_btn" />
                            </p>
                            <p class="next_btn btn" data-ui="slide_btn">
                                <img src="./img/next.png" alt="prev_next" class="btn next_btn" />
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>