<h3 class="ui__pack__title">- tab</h3>
<div class="rules_button_area" data-ui="rules_area">
    <button data-btn="rules_btn" data-toggle="false">RULES</button>
    <div class="source_code">
        <h5>- RULES</h5>
    
    </div>
</div>
<div class="">
    <div class="grid col-6 tab_button_area" data-ui="tab_button_area">
        <ul class="grid_row">
            <li class="grid_inner">
                <div class="grid_inner_item"><button data-id="0" class="active">tab button</button></div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item"><button data-id="1">tab button</button></div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item"><button data-id="2">tab button</button></div>
            </li>
        </ul>
    </div>
    <ul class="pannel_area" data-ui="pannel_area">
        <li class="tab_pannel active" data-id="0">
            1.Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, facere aperiam ipsum eligendi assumenda
            neque amet dicta accusamus modi, tempora ut velit! Optio suscipit distinctio neque quibusdam saepe,
            assumenda quam.
            1.Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, facere aperiam ipsum eligendi assumenda
            neque amet dicta accusamus modi, tempora ut velit! Optio suscipit distinctio neque quibusdam saepe,
            assumenda quam.
            1.Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, facere aperiam ipsum eligendi assumenda
            neque amet dicta accusamus modi, tempora ut velit! Optio suscipit distinctio neque quibusdam saepe,
            assumenda quam.
            1.Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, facere aperiam ipsum eligendi assumenda
            neque amet dicta accusamus modi, tempora ut velit! Optio suscipit distinctio neque quibusdam saepe,
            assumenda quam.
        </li>
        <li class="tab_pannel" data-id="1">
            2.Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, facere aperiam ipsum eligendi assumenda
            neque amet dicta accusamus modi, tempora ut velit! Optio suscipit distinctio neque quibusdam saepe,
            assumenda quam.
            1.Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, facere aperiam ipsum eligendi assumenda
            neque amet dicta accusamus modi, tempora ut velit! Optio suscipit distinctio neque quibusdam saepe,
            assumenda quam.
        </li>
        <li class="tab_pannel" data-id="2">
            3.Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, facere aperiam ipsum eligendi assumenda
            neque amet dicta accusamus modi, tempora ut velit! Optio suscipit distinctio neque quibusdam saepe,
            assumenda quam.
        </li>
    </ul>
</div>