<!-- <h3 class="ui__pack__title">- tab</h3>
<div class="grid col-2 nospacing" data-ui="tab__effect" data-ui-option="fadein">
    <div clas="grid__row">
        <div class="grid__inner">
            <div class="grid__innter__item">
                <h3 class="ui__pack__sub__title">- basic tab</h3>
                <div class="basic_tab__btn__area" data-ui="tab__btn__area">
                    <button class="active" data-id="0">button0</button>
                    <button data-id="1">button1</button>
                    <button data-id="2">button2</button>
                </div>
                <ul class="basic__pannel__area" data-ui="tab__pannel__list">
                    <li class="pannel_con _active" data-id="0">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis nisi eveniet natus temporibus nihil accusamus
                        enim in facere, aperiam labore iusto totam, animi nam quod omnis quo quisquam obcaecati Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Adipisci blanditiis nisi eveniet natus temporibus nihil
                        accusamus enim in facere, aperiam labore iusto totam, animi nam quod omnis quo quisquam obcaecati
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis nisi eveniet natus temporibus
                        nihil accusamus enim in facere, aperiam labore iusto totam, animi nam quod omnis quo quisquam obcaecati
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis nisi eveniet natus temporibus
                        nihil accusamus enim in facere, aperiam labore iusto totam, animi nam quod omnis quo quisquam obcaecati
                    </li>
                    <li class="pannel_con" data-id="1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis nisi eveniet natus temporibus nihil accusamus
                        enim in facere, aperiam labore iusto totam, animi nam quod omnis quo quisquam obcaecati Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Adipisci blanditiis nisi eveniet natus temporibus nihil
                        accusamus enim in facere, aperiam labore iusto totam, animi nam quod omnis quo quisquam obcaecati
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis nisi
                    </li>
                    <li class="pannel_con" data-id="2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis nisi eveniet natus temporibus nihil accusamus
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid__inner">
            <div class="grid__innter__item">
                <h3 class="ui__pack__sub__title">- fade Effec tab</h3>
                <div class="fade_tab__btn__area" data-ui="tab__btn__area">
                    <button class="active" data-id="0">button0</button>
                    <button data-id="1">button1</button>
                    <button data-id="2">button2</button>
                </div>
                <div class="grid col-2 nospacing fade__tab">
                    <div class="grid__row">
                        <div class="grid__inner">
                            <div class="grid__inner__item">
                                <ul class="fade__tab__pannel__area tab_pannel_content">
                                    <li class="pannel_con _active fade" data-id="0">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis nisi eveniet natus temporibus nihil accusamus
                                        enim in facere, aperiam labore iusto totam, animi nam quod omnis quo quisquam obcaecati
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis nisi
                                        eveniet natus temporibus nihil accusamus enim in facere, aperiam labore iusto totam,
                                    </li>
                                    <li class="pannel_con fade" data-id="1">
                                        Lorem ipsum dolor sit amet consectetur adip
                                    </li>
                                    <li class="pannel_con fade" data-id="2">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis nisi eveniet natus temporibus nihil accusamus
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci blanditiis nisi
                                        eveniet natus temporibus nihil accusamus Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit. Adipisci blanditiis nisi eveniet natus temporibus nihil accusamus
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid__inner">
                            <div class="grid__inner__item">
                                <div class="img__box__area tab_pannel_content">
                                    <div class="pannel_con img_box box0 _active fade" data-id="0">img추가예정</div>
                                    <div class="pannel_con img_box box1 fade" data-id="1">img추가예정</div>
                                    <div class="pannel_con img_box box2 fade" data-id="2">img추가예정</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<h3 class="ui__pack__title">- tab</h3>
<div class="" data-ui="tab_effect">
    <div class="grid col-6">
        <ul class="grid_row">
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <button>tab button</button>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <button>tab button</button>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <button>tab button</button>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <button>tab button fade</button>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <button>tab button fade</button>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <button>tab button fade</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="tab_pannel_area">
        <div class="tab_pannel">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis autem illo molestias, quasi ipsa amet est, rerum necessitatibus
            harum repellat quo ratione, praesentium cupiditate pariatur sequi saepe quis omnis molestiae.
        </div>
        <div class="tab_pannel">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis autem illo molestias, quasi ipsa amet est, rerum necessitatibus
            harum repellat quo ratione, praesentium cupiditate pariatur sequi saepe quis omnis molestiae.
        </div>
        <div class="tab_pannel">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis autem illo molestias, quasi ipsa amet est, rerum necessitatibus
            harum repellat quo ratione, praesentium cupiditate pariatur sequi saepe quis omnis molestiae.
        </div>
    </div>
</div>