<div class="">
    <h3 class="ui__pack__title">- navi </h3>
    <div class="rules_button_area" data-ui="rules_area">
        <button data-btn="rules_btn" data-toggle="false">RULES</button>
    </div>
    <div class="grid col-5">
        <ul class="grid_row">
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <a href="#" title="Home" class="link_content" data-ui="navi_underline">
                        example
                        <span class="underline"></span>
                    </a>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <a href="#" title="Home" class="link_content" data-ui="navi_underline">
                        example
                        <span class="underline"></span>
                    </a>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <a href="#" title="Home" class="link_content" data-ui="navi_underline">
                        example
                        <span class="underline"></span>
                    </a>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <a href="#" title="Home" class="link_content" data-ui="navi_underline">
                        example
                        <span class="underline"></span>
                    </a>
                </div>
            </li>
            <li class="grid_inner">
                <div class="grid_inner_item">
                    <a href="#" title="Home" class="link_content" data-ui="navi_underline">
                        example
                        <span class="underline"></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

</div>