@import '../mixin/config.scss';
.ui__pack__title {
    font-size: 30px;
    margin: 30px 0;
}

.ui__pack__sub__title {
    text-align: left;
    margin: 10px 0;
}

.grid_content {
    color: $font-color;
    background-color: #efefef;
    padding: 10px;
    text-align: center;
}

.border_bottom_line {
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.link_content {
    padding: 10px 0;
    display: inline-block;
    font-size: 15px;
    position: relative;
    margin-left: 10px;
}

.slide_wrap {
    margin-top: 40px;
    overflow: hidden;
    .bx-wrapper {
        border: none;
        box-shadow: none;
    }
    .box {
        height: 400px;
        .box_bg0 {
            height: 100%;
            background-color: burlywood;
        }
        .box_bg1 {
            height: 100%;
            background-color: greenyellow;
        }
        .box_bg2 {
            height: 100%;
            background-color: cadetblue;
        }
        .box_bg3 {
            height: 100%;
            background-color: salmon;
        }
    }
    .bx-controls-direction {
        display: none;
    }
}

.owl_slide_wrap {
    margin-top: 40px; //   height: 500px;
    overflow: hidden; //background-color:#ccc;
    .owl-carousel .owl-nav.disabled {
        display: block;
    }
    .box {
        // 요소에는 높이값을 주되, owl을 사용할 영역은 높이값을 주지 않아도된다.
        overflow: hidden;
        .box_bg0 {
            height: 200px;
            background-color: burlywood;
        }
        .box_bg1 {
            height: 200px;
            background-color: greenyellow;
        }
        .box_bg2 {
            height: 200px;
            background-color: cadetblue;
        }
        .box_bg3 {
            height: 200px;
            background-color: salmon;
        }
    }
}

.slide_section {
    margin-top: 20px;
}

.tab_btn {
    width: 20%;
    button {
        border: none;
        background-color: #eee;
        padding:10px 20px;
        font-size:15px;
        cursor: pointer;
    }
    .active{
        background-color:#000;
        color:#fff;

    }
}

.pannel {
    margin-top: 20px;
    &.grid {
        .grid__inner {
            //display:none;
            .grid__inner__item {
                text-align: left;
                line-height: 26px;
            }
        }
    }
}