@import '../mixin/config.scss';
.ui__pack__title {
    font-size: 30px;
    margin: 30px 0;
}
.grid_content {
    color: $font-color;
    background-color: #efefef;
    padding: 10px;
    text-align: center;
}
.border_bottom_line {
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(201, 201, 201);
}
.link_content {
    padding: 10px 0;
    display: inline-block;
    font-size: 15px;
    position: relative;   
    margin-left: 10px; 
}