@import '../mixin/config.scss';
.grid_content {
    color: $font-color;
    background-color: #efefef;
    padding: 10px;
    text-align: center;
}

.border_bottom_line {
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.link_content {
    padding: 10px 0;
    display: inline-block;
    font-size: 15px;
    position: relative;
    margin-left: 10px;
}

.slide_wrap {
    margin-top: 40px;
    overflow: hidden;
    .bx-wrapper {
        border: none;
        box-shadow: none;
    }
    .box {
        height: 400px;
        .box_bg0 {
            height: 100%;
            background-color: burlywood;
        }
        .box_bg1 {
            height: 100%;
            background-color: greenyellow;
        }
        .box_bg2 {
            height: 100%;
            background-color: cadetblue;
        }
        .box_bg3 {
            height: 100%;
            background-color: salmon;
        }
    }
    .bx-controls-direction {
        display: none;
    }
}

.owl_slide_wrap {
    margin-top: 40px; //   height: 500px;
    overflow: hidden; //background-color:#ccc;
    .owl-carousel .owl-nav.disabled {
        display: block;
    }
    .box {
        // 요소에는 높이값을 주되, owl을 사용할 영역은 높이값을 주지 않아도된다.
        overflow: hidden;
        .box_bg0 {
            height: 200px;
            background-color: burlywood;
        }
        .box_bg1 {
            height: 200px;
            background-color: greenyellow;
        }
        .box_bg2 {
            height: 200px;
            background-color: cadetblue;
        }
        .box_bg3 {
            height: 200px;
            background-color: salmon;
        }
    }
}

.slide_section {
    margin-top: 20px;
}

.basic__pannel__area {
    .pannel_con {
        display: none;
        &._active {
            display: block;
        }
    }
}

.fade__tab__pannel__area {
    position: relative;
    min-height: 300px;
    .pannel_con {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        &._active {
            display: block;
        }
    }
}

.img__box__area {
    position: relative;
    min-height: 300px;
    .img_box {
        position: absolute;
        right: 0;
        top: 0;
        width: 90%;
        height: 100%;
        display: none;
        &._active {
            display: block;
        }
        &.box0 {
            background-color: greenyellow;
        }
        &.box1 {
            background-color: darkcyan;
        }
        &.box2 {
            background-color: rgb(196, 225, 65);
        }
    }
}

.grid {
    .grid__inner {
        .grid__inner__item {
            text-align: left;
            .switch {
                position: relative;
                .switch__title {
                    color: #999;
                    padding: 10px 0;
                    font-weight: 600;
                }
                .tgl {
                    display: none;
                    &,
                    &:after,
                    &:before,
                    & *,
                    & *:after,
                    & *:before,
                    &+.tgl-btn {
                        box-sizing: border-box;
                        &::selection {
                            background: none;
                        }
                    }
                    +.tgl_btn {
                        outline: 0;
                        display: block;
                        width: 4em;
                        height: 2em;
                        position: relative;
                        cursor: pointer;
                        user-select: none;
                        margin: 0 auto;
                        &:after,
                        &:before {
                            position: relative;
                            display: block;
                            content: "";
                            width: 50%;
                            height: 100%;
                        }
                        &:after {
                            left: 0;
                        }
                        &:before {
                            display: none;
                        }
                    }
                    &:checked+.tgl_btn:after {
                        left: 50%;
                    }
                }
                .tgl_light {
                    +.tgl_btn {
                        background: #f0f0f0;
                        border-radius: 2em;
                        padding: 2px;
                        transition: all .4s ease;
                        &:after {
                            border-radius: 50%;
                            background: #fff;
                            transition: all .2s ease;
                        }
                    }
                    &:checked+.tgl_btn {
                        background: #9FD6AE;
                    }
                }
            }
        }
    }
}